# AWS Configuration
AWS_REGION=us-east-1
S3_BUCKET=your-bucket-name

# S3 Data Paths
S3_PREFIX=rawData/
PROCESSED_S3_PREFIX=processedData/

# Local Paths
LOCAL_DATA_DIR=data/raw
PROCESSED_DATA_DIR=data/processed

# Athena Configuration
ATHENA_DATABASE=nutriaccess_db
ATHENA_TABLE=nutriaccess_features
ATHENA_OUTPUT_PREFIX=athena-results/query-results/
