# Jupyter Notebook
**/*.ipynb_checkpoints/
.DS_Store
.env
.env.*
!.env.example

# Data folders
data/raw/
data/processed/

# Keep final sample dataset
!data/final/
!data/final/nutriaccess_features_sample.csv

# Data files
*.csv
*.geojson
*.parquet
*.log

# Python cache
__pycache__/
